.DS_Store
.idea/
.vscode/

.env
.env.*

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

target/

DerivedData/
*.xcuserdatad/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

*.log
